.section3{
    background-color: rgb(119, 208, 189);
    width: 1400px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding: 50px;
}

.cont2{
    border: rgb(135, 119, 208) solid 1px;
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(246, 170, 70);
    text-align: center;
}